body {
	font-weight: bold;
}

h1 {
	color: black;
	text-decoration: none;
}

h3 {
	color: black;
}

section {
	margin: 15px !important;
}

h3 {
	postition: absolute;
	text-align: center;
}

#header-nav {
	background-color: #626262;
	border-radius: 0;
	border: 2px solid black;
}

.col-xs-12 {
	background-color: gray;
	margin: 5px;
}

.navbar-brand {
	height: 100px;
}